<section class="container anuncios avaliacao content-pages">

  <div class="row">

    <div class="col m3 s3">

      <ul class="user-menu">
        <li><a href="/anuncie" class="waves-effect waves-light btn btn-small"><i class="small material-icons">chat</i> Anuncie</a></li>
        <li><a href="/usuario/anuncios"  class="waves-effect waves-light btn btn-small"><i class="small material-icons">chat_bubble</i>Meus anúncios</a></li>
        <li><a href="/usuario/propostas"  class="waves-effect waves-light btn btn-small active" ><i class="small material-icons">attach_money</i>Minhas propostas</a></li>
        <li><a href="/usuario/avaliacao"  class="waves-effect waves-light btn btn-small"><i class="small material-icons">event_available</i>Avaliação</a></li>
        <li><a href="/usuario/avaliacao/associados" class="waves-effect waves-light btn btn-small"><i class="small material-icons">contacts</i>Fale conosco</a></li>
      </ul>

    </div>

    <div class="col m9 s9">

      <div class="imoveis">

        <div class="row">
          <div class="col s12">
            <strong class="sub">Propostas / Desejos</strong>
          </div>
        </div>


        <div class="list">
          <div class="row">

            <div class="col s12 m8">
              <h3>Compra - Apartamento</h3>
              <p>São Caetano - SP</p>
            </div>
            <div class="col s12 m4 last">
              <p class="expirando">03/12/2018</p>
              <p class="preco"><strong class="price">R$ 800.000</strong></p>
              <p class="opcao">
                <button class="btn waves-effect waves-light remove" type="submit" name="action">
                  Excluir
                </button>
              </p>
            </div>
          </div>
        </div>


        <div class="list">
          <div class="row">

            <div class="col s12 m8">
              <h3>Compra - Apartamento</h3>
              <p>São Caetano - SP</p>
            </div>
            <div class="col s12 m4 last">
              <p class="expirando">03/12/2018</p>
              <p class="preco"><strong class="price">R$ 800.000</strong></p>
              <p class="opcao">
                <button class="btn waves-effect waves-light remove" type="submit" name="action">
                  Excluir
                </button>
              </p>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

</section>
