<section class="boxs">

  <div class="container">

    <div class="row">

      <div class="box col s12 m4">
        <div class="box-interna">
          <div class="img"><img src="assets/images/light.png" alt=""></div>

          <h2>Tenho um imóvel de oportunidade</h2>
          <a class="waves-effect waves-light btn">Clique aqui</a>
        </div>

      </div>

      <div class="box col s12 m4">
        <div class="box-interna">
          <div class="img"><img src="assets/images/person.png" alt=""></div>
          <h2>Tenho um cliente</h2>
          <a class="waves-effect waves-light btn">Clique aqui</a>
        </div>
      </div>

      <div class="box col s12 m4">
        <div class="box-interna">
          <div class="img"><img src="assets/images/search.png" alt=""></div>
          <h2>Procuro um <span>imóvel</span></h2>
          <a class="waves-effect waves-light btn">Clique aqui</a>
        </div>
      </div>

    </div>

  </div>

</section>
