<section class="banner" xmlns="http://www.w3.org/1999/html">

  <div class="avatar">
    <img src="assets/images/avatar.png">
  </div>
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item" href="#" style="background-image: url(assets/images/banner-2.jpg)">
      <div class="row infos">
        <div class="col s12 m8 l8">
          <h5>Anuncie por</h5>
          <h2><strong>R$ 49,90</strong></h2>
          <h6>E aproveite as vantagens e benefícios</h6>
          <a href="/login?from=newUser" class="waves-effect waves-light btn">Anuncie já</a>
        </div>
      </div>
    </div>

    <div class="carousel-item" href="#" style="background-image: url(assets/images/banner-3.jpg)">
      <div class="row infos">
        <div class="col s12 m8 l8">
          <h5>Seja um associado</h5>
          <h2><strong>Black</strong></h2>
          <h6>e tenha acesso exclusivo</h6>
          <a href="/login?from=newUser" class="waves-effect waves-light btn">Seja Black</a>
        </div>
      </div>
    </div>

  </div>

</section>
