
@mixin img-responsive{
  max-width:100%;
  width:100%;
}

@mixin before(){
  content:"";
  display: inline-block;
  position:relative;
}
@mixin after(){
  content:"";
  display: inline-block;
  position:relative;
}
@mixin font-hidden(){
  font-size:0;
  line-height: 0;
  text-indent: -9999px;
}
@mixin cf {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@mixin vertical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin vertical-horizontal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin title($c:$color-09,$t:22px){
  font-size:$t;
  color:$c;
  text-transform:uppercase;
  margin-bottom: 15px;
}
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-#{opposite-position($direction)}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}
