<div class="call">
  <span class="icon"></span>
  <div class="box">
    <div class="links">
      <p><strong>Olá! Gostaria de</strong></p>
      <p><a href="">Alugar</a> ou</p>
      <p class="last"><a href="">Vender</a> ?</p>
    </div>
  </div>
</div>

<footer class="footer">

  <div class="container">

    <ul class="row">

      <li class="col s6 m2 l2">
        <a href="">Quem somos</a>
      </li>

      <li class="col s6 m2 l2">
        <a href="">Anuncie gratuitamente</a>
      </li>

      <li class="col s6 m2 l2">
        <a href="">Anuncie com destaque</a>
      </li>

      <li class="col s6 m2 l2">
        <a href="">Área do corretor</a>
      </li>

      <li class="col s6 m2 l2">
        <a href="">Login/Cadastre-se</a>
      </li>

      <li class="col s6 m2 l2">
        <a href="">Fale conosco</a>
      </li>

    </ul>

  </div>

  <div class="container">

    <ul class="row">

      <li class="col s12 m2 l2">
        <a href="">Imóveis usados</a><br>
        <a href="">Imóveis prontos</a>
      </li>

      <li class="col s12 m2 l2">
        <a href="">Lançamentos</a><br>
        <a href="">Em construção</a>
      </li>

      <li class="col s12 m2 l2">
        <a href="">Apartamentos</a><br>
        <a href="">Casas e vilas</a>
      </li>

      <li class="col s12 m2 l2">
        <a href="">Zona Sul</a><br>
        <a href="">Zona Norte</a>
      </li>

      <li class="col s12 m2 l2">
        <a href="">Zona Leste</a><br>
        <a href="">Zona Oeste</a>
      </li>

      <li class="col s12 m2 l2">
        <a href="">Centro</a><br>
        <a href="">Grande SP</a>
      </li>

    </ul>

  </div>

  <div class="copy">

    <div class="container">

      <div class="row">

        <div class="col s12 m6 l3">
          <p>Copyright © 2017 - COMPREAGORA.COM.BR</p>
        </div>

        <div class="col s12 m6 l3">
          <a href="">TERMOS DE USO</a>
          <a href="">POLÍTICA DE PRIVACIDADE</a>
        </div>

        <div class="col s12 m6 l4 pay">
          <img src="assets/images/payment.png" alt="">
        </div>

        <div class="col s12 m6 l2 selo">
          <img src="assets/images/selo.png" alt="">
        </div>

      </div>

    </div>

  </div>

</footer>
